*, *:before, *:after {
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
body{
    width: 1024px;
    height: 100%;
    font-family: 'Open Sans', sans-serif,'Roboto';
}
/**        Cabecera        **/
#cabecera{
    width: 100%;
    height: 400px;
    background-image: url('../img/header.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
nav{
    background-color: #563d7c;
}
nav a, .titulo-cabecera{
    color: white;
}
li a:hover{
    background-color: white;
    color:#563d7c;
    font-size: bold;
    border-radius: 5px;
}
/**         MAIN        **/
/**         SECCION 1    **/
#who-we-are, #portfolio{
    background-color: rgba(158, 158, 158, 0.06);
}

/**         SECCION 2    **/
.fa-cloud, .fa{
    color: #563d7c;
}
.contenedor-servicio-img:hover{
    background-color: #563d7c;
    border-color: #7051a8;
}
.contenedor-servicio-img{
    width: 80px; height: 80px;
    border: 5px solid #9e9e9e33;
}
.contenedor-servicio-img:hover i{
    color:white;
}
/**         SECCION 3    **/
.container-seccion-3 img{
    height: 100%;
    width: 100%;
}
.transformar:hover{
    transform:rotate(-10deg) ;
}
.transformar-giro:hover{
    transform: rotate(360deg);
    transition-duration: 1s;
}
.transformar-giro:hover img{
    border-radius: 50% 50%;
}
/**         SECCION4        **/
.container-seccion iframe{
    border: 2px solid;
    border-radius: 50%;
    width: 300px;
    height: 300px;
}
/**         Seccion5        **/
#email-us{
    background-color: #715a9a;
    background-image: url('../img/map-image.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: white;
}
footer{
    text-align: end;
    height: 25px;
    background: #563d7c;
    width: 100%;
}
footer p{
    margin: 0px 1% 0 0;
    display: block;
}
footer a{
    text-decoration: none;
    color: white;
}

@media only screen and (max-width: 760px){
    #cabecera{
        width: 100%;
        height: 400px;
        background-image: url('../img/header-mini.png');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
}